* {
    margin: 0 0;
    padding: 0 0;
    font-family: arial, sans-serif;
    line-height: 25px;
}

.card a {
    text-decoration: none;
}


.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.clearfix {
    margin: auto;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/*CSS FOR COUNTER*/
.timer,
.timer-done,
.timer-loop {
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding: 10px;
    float: right;
}

.jst-hours {
    float: left;
}

.jst-minutes {
    float: left;
}

.jst-seconds {
    float: left;
}

.jst-clearDiv {
    clear: both;
}

.jst-timeout {
    color: red;
}

/*CSS for Header*/
.header {
    background-color: #006400;
    color: #FFFFFF;
}

.header .wrapper .logo {
    width: 20%;
    float: left;
}

.header .wrapper .logo img {
    width: 100%;
}

.header .wrapper .head-title {
    width: 80%;
}

.header .wrapper .head-title h1 {
    font-weight: lighter;
    line-height: 60px;
    text-align: center;
}

/*CSS for Navigation*/
.menu .wrapper ul {
    list-style-type: none;
}

.menu .wrapper ul a {
    color: #006400;
    text-decoration: none;
    padding: 1%;
}

.menu .wrapper ul a:hover {
    background-color: #006400;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.menu .wrapper ul li {
    display: inline;
}

/*CSS for Main*/
.main {
    margin: 2% 0;
}

.main .content {
    /* border: 1px solid silver; */
    width: 80%;
    padding: 1%;
    margin: 0 auto;
    /* box-shadow: 0 0 1px 1px silver; */
}

.main .content .welcome {
    margin: 2% auto;
    text-align: center;
    font-size: 120%;
    line-height: 50px;
}

.main .content .welcome .ques {
    text-align: left;
}

.main .content .welcome .radio-ans {
    font-size: 90%;
    line-height: 35px;
}

.heavy {
    color: #b73a00;
    font-weight: bold;
}

.dash-tile {
    width: 21%;
    background-color: #4f4d4d;
    color: #FFFFFF;
    margin: 1%;
    padding: 5% 1%;
    text-align: center;
    line-height: 50px;
    float: left;
    cursor: pointer;
}

.dash-tile:hover {
    box-shadow: 0 0 5px 3px black;
}

.success {
    border: 1px solid #388E3C;
    background-color: #AED581;
    color: #388E3C;
    font-size: 90%;
    padding: 1%;
    margin: 1%;
}

.error {
    border: 1px solid #B71C1C;
    background-color: #E57373;
    /* color: ; */
    font-size: 90%;
    padding: 1%;
    margin: 1%;
}

/* CSS FOR REPORT*/
.main .content .report {
    color: #4f4d4d;
    line-height: 50px;
}

/* .main .content .report table {
    width: 100%;
    margin: 1% 0;
    text-align: left;
} */

/* .main .content .report table tr td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 1% 0;
} */

.main .content .report .forms {
    padding: 2%;
    line-height: 40px;
}

.main .content .report .forms .name {
    width: 15%;
    float: left;
}

.main .content .report .forms h2 {
    margin-bottom: 2%;
}

.main .content .report .forms input[type='text'],
.main .content .report .forms input[type='email'],
.main .content .report .forms input[type='tel'],
.main .content .report .forms input[type='number'],
.main .content .report .forms input[type='password'] {
    padding: 0.5%;
    width: 30%;
}

.note {
    color: black;
    font-size: 90%;
}

.main .content .report .forms textarea {
    width: 30%;
    height: 100px;
    padding: 0.5%;
}

.main .content .report .forms select {
    width: 31.5%;
    padding: 1%;
}

.main .content .report .forms img {
    width: 550px;
}

.login {
    width: 30%;
    padding: 1%;
    margin: 0 auto;
    /* box-shadow: 0 0 1px 1px silver; */
}

.login input[type='text'],
.login input[type='password'] {
    padding: 1%;
    width: 100%;
    margin: 1% 0;
    font-size: 100%;
}

.login input[type='submit'],
.login input[type='reset'] {
    width: 100%;
    margin: 1% 0;
    height: 40px;
}

.login h2 {
    color: #4f4d4d;
    text-align: center;
    margin-bottom: 2%;
}



/*CSS FOR BUTTONS*/
.btn-go {
    background-color: #00b72a;
    color: #FFFFFF;
    font-size: 100%;
    font-weight: normal;
    padding: 1%;
    margin: 0 1%;
    border: none;
    cursor: pointer;
}

.btn-go:hover {
    background-color: #01721b;
}

.btn-exit {
    background-color: #9e0303;
    color: #FFFFFF;
    font-size: 100%;
    font-weight: normal;
    padding: 1%;
    margin: 0 1%;
    border: none;
    cursor: pointer;
}

.btn-exit:hover {
    background-color: #720202;
}

.btn-add {
    background-color: #085be0;
    color: #FFFFFF;
    font-size: 90%;
    font-weight: normal;
    padding: 0.5%;
    margin: 0 1%;
    border: none;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #074fc1;
}

.btn-update {
    background-color: #00b72a;
    color: #FFFFFF;
    font-size: 90%;
    font-weight: normal;
    padding: 0.5%;
    margin: 0 1%;
    border: none;
    cursor: pointer;
}

.btn-update:hover {
    background-color: #01721b;
}

.btn-delete {
    background-color: #9e0303;
    color: #FFFFFF;
    font-size: 90%;
    font-weight: normal;
    padding: 0.5%;
    margin: 0 1%;
    border: none;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #720202;
}

/*CSS for Footer*/
.footer {
    background-color: #006400;
    color: #FFFFFF;
}

.footer p {
    text-align: center;
}

.footer p a {
    color: #A1CD3C;
    text-decoration: none;
}

.footer p a:hover {
    color: #F5E923;
}

/*CSS for Questions and Answers*/
.left-ques {
    width: 45%;
    float: left;
    text-align: left;
}

.answers {
    width: 50%;
    float: right;
    text-align: left;
}

.left-ques img {
    width: 99%;
}

.buttons {
    width: 90%;
    text-align: center;
}

/*CSS to Make Responsive*/

/*CSS for Tablet View*/
@media only screen and (max-width: 768px) {
    .wrapper {
        width: 90%;
    }

    .header .wrapper .logo {
        width: 100%;
        text-align: center;
        float: none;
    }

    .header .wrapper .logo img {
        width: 100%;
    }

    .header .wrapper .head-title {
        width: 100%;
    }

    .header .wrapper .head-title h1 {
        line-height: 30px;
        text-align: center;
    }

    /*Menu CSS Here*/
    .menu .wrapper ul li {
        display: block;
    }

    .menu .wrapper ul {
        text-align: center;
    }

    .menu .wrapper ul a {
        padding: 0%;
    }

    .menu .wrapper ul a:hover {
        background-color: green;
        color: white;
    }

    .main .content {
        width: 90%;
    }

    .dash-tile {
        width: 46%;
    }

    .main .content .report .forms .name {
        width: 25%;
        float: left;
    }

    .main .content .report .forms h2 {
        margin-bottom: 2%;
    }

    .main .content .report .forms input[type='text'],
    .main .content .report .forms input[type='email'],
    .main .content .report .forms input[type='tel'],
    .main .content .report .forms input[type='number'],
    .main .content .report .forms input[type='password'] {
        padding: 0.5%;
        width: 70%;
    }

    .note {
        color: black;
        font-size: 90%;
    }

    .main .content .report .forms textarea {
        width: 70%;
        height: 100px;
        padding: 0.5%;
    }

    .main .content .report .forms select {
        width: 73%;
        padding: 1%;
    }

    .login {
        width: 50%;
    }
}

/*CSS for Mobile View*/
@media only screen and (max-width: 480px) {
    .header .wrapper .head-title h1 {
        font-size: 120%;
    }

    .dash-tile {
        width: 95%;
    }

    .main .content .report .forms .name {
        width: 100%;
    }

    .main .content .report .forms input[type='text'],
    .main .content .report .forms input[type='email'],
    .main .content .report .forms input[type='tel'],
    .main .content .report .forms input[type='number'],
    .main .content .report .forms input[type='password'] {
        padding: 0.5%;
        width: 98%;
    }

    .note {
        color: black;
        font-size: 90%;
    }

    .main .content .report .forms textarea {
        width: 98%;
        height: 100px;
        padding: 0.5%;
    }

    .main .content .report .forms select {
        width: 98%;
        padding: 1%;
    }

    .login {
        width: 80%;
    }

}

/* login page */
/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #0dcaf0, #7ecfec);
    background: linear-gradient(135deg, #0dcaf0, #4d9ebb);
    background-image: linear-gradient(135deg, #0dcaf0 0%, #9adbf3 100%);
    background-image: linear-gradient(150deg, #0dcaf0 0%, #c7dce4 80%, #51c4eb 20%);
    min-height: 93vh;
}

.wrapper {
    max-width: 500px;
    margin: 10px auto;
}

.wrapper .card-login {
    max-width: 400px;
    min-height: 450px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    cursor: pointer;
    padding: 0.8rem;
}

.wrapper .card-login a {
    text-decoration: none;
    color: #000;
}

.wrapper .card-login a:hover {
    color: #000;
}

.wrapper .card-login .input-field {
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #000;
    padding: 0.3rem;
}

.wrapper .card-login .input-field input {
    background-color: inherit;
}

.wrapper .card-login .input-field input.form-control,
.wrapper .card-login .input-field input.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
    color: #000;
}

.wrapper .card-login .input-field button.btn {
    color: #000;
    padding: 0rem;
    padding-right: 0.5rem;
}

.wrapper .card-login .input-field button.btn:hover {
    color: #000;
}

.wrapper .card-login .input-field button.btn:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.wrapper .card-login .input-field input::placeholder {
    color: #000;
}

.wrapper .card-login .option {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none
}

.wrapper .card-login .option span.text-light-white:hover {
    color: #000;

}

.wrapper .card-login .option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 2px;
}

.wrapper .card-login .option:hover input~.checkmark {
    background-color: #f1f1f1
}

.wrapper .card-login .option input:checked~.checkmark {
    border: none;
    background-color: #333;
    transition: 300ms ease-in-out all
}

.checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
    color: #000;
    font-size: 1rem
}

.wrapper .card-login .option input:checked~.checkmark:after {
    display: block
}

.wrapper .card-login .option .checkmark:after {
    left: 3px;
    top: -3px;
    width: 5px;
    height: 10px
}

.wrapper .card-login .btn.btn-primary {
    border-radius: 20px;
    width: 100px;
    background-color: #eee;
    color: #333;
    border: none;
}

.wrapper .card-login .btn.btn-primary:hover {
    color: #eee;
    background: #333;
}

.wrapper .card-login .btn.btn-primary:focus {
    border: none;
    box-shadow: none;
}

.wrapper .card-login .text-light-white {
    color: #000;
}

.wrapper .card-login .line span.connect {
    position: absolute;
    top: -12px;
    left: 33%;
    color: #000;
    padding: 0 0.3rem;
    z-index: 100;
    border-radius: 2px;
    background-color: #000;
}

.wrapper .card-login .connections a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.15;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 8px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    border-radius: 20%;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #4b76ec;
}

.option-input:checked::before {
    height: 25px;
    width: 25px;
    position: absolute;
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.25s;
    -moz-animation: click-wave 0.25s;
    animation: click-wave 0.25s;
    background: #4b76ec;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

#loader {
    border: 20px solid rgb(177, 208, 233);
    border-radius: 50%;
    border-top: 20px solid #4b76ec;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.load-center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute !important;
    z-index: 999999 !important;
}

@media(max-width: 370px) {
    .wrapper .card-login .line:after {
        left: 27%;
    }
}

@media(max-width: 350px) {
    .wrapper {
        margin: 10px auto;
    }

    .wrapper .card-login {
        margin: 10px;
    }
}